﻿<!DOCTYPE html>
<html ng-app="dataApp">

<head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <script src="https://code.jquery.com/jquery-3.4.1.js" integrity="sha256-WpOohJOqMqqyKL9FccASB9O0KwACQJpFTUBLTYOVvVU=" crossorigin="anonymous"></script>

    <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js" integrity="sha384-Q6E9RHvbIyZFJoft+2mJbHaEWldlvI9IOYy5n3zV9zzTtmI3UksdQRVvoxMfooAo" crossorigin="anonymous"></script>

    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css" integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.min.js" integrity="sha384-wfSDF2E50Y2D1uUdj0O3uMBJnjuUD4Ih7YwaYd1iqfktj0Uod8GCExl3Og8ifwB6" crossorigin="anonymous"></script>


    <link href='https://fonts.googleapis.com/css?family=Titillium+Web:400,300,600' rel='stylesheet' type='text/css'>


    <!--   font awesome -->
    <link rel="stylesheet" href="../../Content/AngularJsCSS/font-awesome-4.7.0/css/font-awesome.min.css">
    <!--    google fonts-->
    <link href="https://fonts.googleapis.com/css?family=Roboto" rel="stylesheet">
    <!--owl carousel-->
    <link rel="stylesheet" href="../../Content/AngularJsCSS/owl/font-awesome.css">
    <link rel="stylesheet" href="../../Content/AngularJsCSS/owl/font-awesome.min.css">


    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">


    <title>DealCards</title>

    <link rel="stylesheet" href="../../Content/AngularJsCSS/formStyle.css">
    <link rel="stylesheet" href="../../Content/AngularJsCSS/style.css">
    <link rel="stylesheet" href="../../Content/AngularJsCSS/navbar.css">

    <!-- <script src="angular.js"></script> -->
    <script src="//ajax.googleapis.com/ajax/libs/angularjs/1.7.9/angular.js"></script>
    <script src="//ajax.googleapis.com/ajax/libs/angularjs/1.7.9/angular-animate.js"></script>
    <script src="//ajax.googleapis.com/ajax/libs/angularjs/1.7.9/angular-sanitize.js"></script>

    <script src="../../Scripts/AngularJS/myBootstrap.js"></script>
    <script src="../../Scripts/AngularJS/ui-bootstrap-tpls-3.0.6.min.js"></script>
    <script src="../../Scripts/AngularJS/data.service.js"></script>
    <script src="../../Scripts/AngularJS/globalconst.service.js"></script>
    <script src="../../Scripts/AngularJS/service.service.js"></script>
    <script src="../../Scripts/AngularJS/dealCardsCtrl.ctrl.js"></script>

    <script src="../../Scripts/AngularJS/form.js"></script>
    <script src="../../Scripts/AngularJS/LoginAccountToggle.js"></script>
    <script src="../../Scripts/AngularJS/JS/script.js"></script>


</head>

<body>

    <div ng-controller="dealCardsCtrl">


        <nav class="navbar navbar-expand-lg fixed-top">

            <!-- <a class="navbar-brand" href="#">Navbar</a> -->
            <img class="logo navbar-brand" src="../../Content/AngularJsCSS/logo3.png" alt="Logo" height="100" width="300">
            <!-- Toggler/collapsibe Button -->
            <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNavDropdown"
                    aria-controls="navbarNavDropdown" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>

            <!-- Navbar links -->
            <div class="collapse navbar-collapse" id="navbarNavDropdown">
                <ul class="navbar-nav" style="width: 80%;">
                    <li class="nav-item">
                        <button ng-click="onLogin2()" id="myButton" style="display: none;">click</button>

                    <li class="nav-item">
                        <a class="nav-link" href="http://localhost:3000/">Home</a>
                    </li>

                    <li class="nav-item">
                        <a class="nav-link" href="/Page/GetDepartureFlights">Departures</a>
                    </li>

                    <li class="nav-item">
                        <a class="nav-link" href="/Page/GetLandingFlights">Arrivals</a>
                    </li>

                    <li class="nav-item">
                        <a class="nav-link" href="/Page/SearchFlights">Search</a>
                    </li>
                 
                </ul>
                <ul class="navbar-nav">
                    <li ng-show="!isLogedIn"><a data-toggle="modal" data-target="#myLoginModal" class="nav-link" href="#Login" ng-click="onLogin2()">Login</a></li>
                    <li ng-show="isLogedIn"><a data-toggle="collapse" data-target=".navbar-collapse.show" class="nav-link" href="" ng-click="onLogin2()">LogOut</a></li>
                    <li ng-show="isLogedIn" style="color: white; margin-top: 5px; margin-left: 15px;" ng-model="firstName" class="underline"><h3>Hi {{firstName}}!</h3></li>
                </ul>

            </div>
        </nav>



        <div class="flex-container">
            <div ng-repeat="flight in filteredFlights">

                <div class="container">
                    <div class="box">
                        <div class="imgBx">
                            <img style="z-index:-1;" ng-src="../../Content/AngularJsCSS/Photos/{{flight.D_COUNTRY_NAME}}.jpg"
                                 fallback-src="../../Content/AngularJsCSS/Photos/img3.jpg">
                            <div class="myCardStyle">
                                <h2 class="cardCountryName">{{flight.D_COUNTRY_NAME}}</h2>
                                <h6 class="cardFlightName">Fly with {{flight.AIRLINE_NAME}}</h6>
                                <h5 class="cardDateTime">
                                    <span>{{flight.DEPARTURE_TIME | date:'mediumDate'}}</span>
                                </h5>
                            </div>
                        </div>
                        <div style="color:black" class="content">
                            <h2>{{flight.D_COUNTRY_NAME}}</h2>
                            <p>

                                <img style="z-index: 1; width: 100px; height: 50px; margin-bottom:5px; margin-top:5px" ng-src="../../Content/AngularJsCSS/hot_deal.png" />
                            </p>
                            <!--<a style="background-color: #0073e6; width: 100px; height: 40px; border-radius: 4px;" href="#" ng-click="selectDate(flight.ID)">Select deal</a>-->
                            <!--<a style="background-color: #0073e6; width: 100px; height: 40px; border-radius: 4px;" href="http://localhost:3000/SelectDates/{{flight.ID}}">Select deal</a>-->
                            <a style="background-color: #0073e6; width: 100px; height: 40px; border-radius: 4px;" href="/?flightId={{flight.ID}}">Select deal</a>
                        </div>
                    </div>
                </div>

            </div>
        </div>
        <!-- pagination section -->
       <div class="container">
            <div class="row" data-ng-show="flights.length == 0">
                <div class="col-span-8">
                    No results found
                </div>
            </div>
            <div class="row" data-ng-show="flights.length > 0">
                <div class="col-span-8">
                    <ul uib-pagination total-items="BigTotalItems" ng-model="currentPage" class="pagination-md"
                        boundary-link-numbers="false" rotate="false"></ul>
                </div>
            </div>
        </div>
    </div>



    <!-- -------------------------------------------Login modal---------------------------------------- -->

    <div class="modal fade" id="myLoginModal" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
        <div class="modal-dialog modal-dialog-centered">

            <div class="login-page">
                <div class="form modal-content">
                   
                    <!-- ---------register-form --------------->
                    <form class="register-form ifExistAccount" ng-submit="onSubmit(theForm.$valid)" name="theForm" ng-controller="RegisterCtrl">
                        <!-- First name and Last name-->
                        <div class="form-group input-group">

                            <div class="input-group-prepend">
                                <span class="input-group"> <i class="fa fa-user icon"></i> </span>
                            </div>
                         
                            <input type="text" id="firstName" class="form-control" ng-model="formModel.firstName" name="firstName" placeholder="First Name" aria-label="firstName" aria-describedby="basic-addon1" required="required">

                            <input type="text" class="form-control" ng-model="formModel.lastName" style="margin-left: 10px;" name="lastName" placeholder="Last Name" aria-label="lastName" aria-describedby="basic-addon1" required="required">
                        </div>

                        <!-- Username-->
                        <div class="form-group input-group">
                            <div class="input-group-prepend">
                                <span class="input-group"> <i class="fa fa-user icon"></i> </span>
                            </div>
                            <input type="text" id="userName" class="form-control" ng-model="formModel.username" name="username" placeholder="Username" aria-label="Username" aria-describedby="basic-addon1" required="required">
                        </div>

                        <!-- Email-->
                        <div class="form-group input-group" ng-class="{'has-error':!customerForm.email.$valid,'has-success':customerForm.email.$valid}">
                            <div class="input-group-prepend">
                                <span class="input-group"> <i class="fa fa-paper-plane icon"></i></span>
                            </div>
                            <input type="email" id="email" class="form-control" ng-model="formModel.email" name="email" aria-describedby="emailHelp" placeholder="Email Address" required="required">
                        </div>
                        <pre ng-show="customerForm.email.$invalid && !customerForm.email.$pristine" class="help-block">*Enter a valid email.</pre>
                        <small id="emailHelp" class="form-text text-muted">
                            We'll never share your email with anyone
                            else.
                        </small>

                        <!-- Phone number-->
                        <div class="form-group input-group">
                            <div class="input-group-prepend">
                                <span class="input-group"><i class="fa fa-phone icon"></i></span>
                            </div>
                            <input type="text" id="phoneNumber" class="form-control" ng-model="formModel.phoneNumber" name="phoneNumber" placeholder="Phone Number" aria-label="phoneNumber" aria-describedby="basic-addon1" required="required">
                        </div>

                        <!-- Password-->
                        <div class="form-group input-group" id="show_hide_password">
                            <div class="input-group-prepend">
                                <span class="input-group"> <i class="fa fa-lock icon"></i> </span>
                            </div>
                            <input type="password" id="password" class="form-control" ng-model="formModel.password" name="password" placeholder="Password" required="required">
                            <div class="input-group-addon">
                                <a id="k" href=""><i id="pp" class="fa fa-eye-slash icon" aria-hidden="true"></i></a>
                            </div>
                        </div>

                        <!-- Confirm Password-->
                        <div class="form-group input-group">
                            <div class="input-group-prepend">
                                <span class="input-group"><i class="fa fa-key icon"></i></span>
                            </div>
                            <input type="password" id="confirm_password" class="form-control" ng-model="formModel.confirm_password" name="confirm_password" placeholder="Confirm Password" required="required">

                        </div>
                        <pre style="margin-top: -15px" ng-show="formModel.password != formModel.confirm_password && formModel.confirm_password != null">*Your passwords must match.</pre>


                        <button type="submit">Register</button>
                        <button type="button" data-dismiss="modal" ng-click="reset()">Close</button>

                        <p class="message">Already registered? <a class="a" href="#">Sign In</a></p>
                    </form>

                    <!-- ---------login-form --------------->
                    <form class="login-form ifExistAccount" ng-submit="onLogin(theForm2.$valid)" name="theForm2" ng-controller="dealCardsCtrl">
                        <div ng-show="isError" style="background-color: lightcoral"><p style="color: black">Wrong credentials</p></div>
                        <!-- Username-->
                        <div class="form-group input-group">
                            <div class="input-group-prepend">
                                <span class="input-group"> <i class="fa fa-user icon"></i> </span>
                            </div>
                            <input type="text" class="form-control" ng-model="formModelLogin.username" name="username" placeholder="Username" aria-label="Username" aria-describedby="basic-addon1" required="required">
                        </div>

                        <!-- Password-->
                        <div class="form-group input-group" id="show_hide_password">
                            <div class="input-group-prepend">
                                <span class="input-group"> <i class="fa fa-lock icon"></i> </span>
                            </div>
                            <input type="password" class="form-control" ng-model="formModelLogin.password" name="password" placeholder="Password" required="required">
                            <div class="input-group-addon">
                                <a id="k" href=""><i id="pp" class="fa fa-eye-slash icon" aria-hidden="true"></i></a>
                            </div>
                        </div>
                        <button type="submit">login</button>
                        <p class="message">Not registered? <a class="a" href="#">Create an account</a></p>
                    </form>
                </div>
            </div>
        </div>
    </div>
</body>

</html>